<%- include ./partials/header.ejs %>

<h1>Projects</h1>

<% projects.forEach(function(project) { %>
	<h2><%= project.name %></h2>
	<p>
	<img style="width:8em;float:left;clear:both;padding:0;margin:.5em;" src="<%= project.img %>">
	About: <%= project.about %>
	</p>
	<p>
	Issue Faced: <%= project.problem %>
	</p>
	<h3>
	Solution:
	<%= project.solutions %><br>
	</h3>
<% }); %>

<%- include ./partials/footer.ejs %>